$base-color:linear-gradient(136deg, #33D35E, #2AB6D9 100%);

.navbar {
    height          : 5rem;
    width           : 100%;
    background-color: #FFFFFF !important;
    box-sizing      : border-box;


    .navbar-brand {
        width      : 7.9rem;
        height     : 2.5rem;
        margin-left: 10.3rem;
    }

    .btn {
        margin-right : 10.3rem;
        height       : 2.75rem;
        width        : 10.1rem;
        border-radius: 1.3rem;
        margin-left  : 10.3rem;
        background   : $base-color;

        &:hover {
            opacity: 0.6;
        }

        .button-text {
            color      : #FFFFFF;
            font-size  : 14px;
            font-weight: bold;
        }
    }

    .nav-link {
        font-size     : 15px;
        color         : #9597A5;
        font-weight   : 400;
        margin-right  : 10px;
        padding-top   : 32px;
        padding-bottom: 32px;


        &:hover {
            padding-bottom: 29px;
            color         : #2D314D !important;
            border-bottom : 4px solid #33D35E !important;
            height        : auto;
            ;
        }
    }
}